<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header'); %>
</head>
<body>

 
 
<div id="main">
    <%- include('partials/head'); %>

    <div class="content">
        
        
 

        <%- include('pages/'+page)  %>




       
    </div>


  


      <%- include('partials/footer'); %>

</div>



</body>
</html>